@model CNG.Models.PurchaseOrderItem

<tr data-item-id="@Model.Item.Id" class="item-row">
    <td>
        @Model.Item.Code
    </td>
    <td>
        @Model.Item.Description
    </td>
    <td>
        @*@Model.Item.Type.Description*@
        <select class="form-control itemtype">
            <option value="1" @(Model.Item.TypeId == 1 ? "selected" : "")>Consumable</option>
            <option value="2" @(Model.Item.TypeId == 2 ? "selected" : "")>Inventory</option>
            <option value="3" @(Model.Item.TypeId == 3 ? "selected" : "")>Repaired</option>
            <option value="4" @(Model.Item.TypeId == 4 ? "selected" : "")>Direct Charge</option>
        </select>
    </td>
    <td>
        @Model.Item.Brand
    </td>
    <td>
        <input type='text' class='txtQuantity form-control' value="@Model.Quantity" />
    </td>
    <td>
        @*<label class="lblUnitCost">
            @Model.UnitCost.ToString("N")
        </label>*@

        <input type='text' class='lblUnitCost form-control' value="@Model.LatestUnitCost.ToString("#,##0.00")" />

    </td>
    <td>
        <span class='txtAmount'>@Model.Amount.ToString("#,##0.00")</span>
    </td>
    <td>
        <textarea class='txtRemarks form-control'> @Model.Remarks </textarea>
    </td>
    <td>
        <div class="visible-md visible-lg hidden-sm hidden-xs">
            <a href="#!" data-original-title="Remove" data-placement="top" class="btn btn-xs btn-red tooltips btnRemoveItem"><i class="fa fa-times fa fa-white"></i></a>
        </div>
    </td>
</tr>
