@model CNG.Models.ItemHistoryVM
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "TransactionHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Transaction History </h1>
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><span class="text-bold">Transaction History - @Model.Company.Name</span></h4>

                <div class="clearfix"></div>
                
                <br/>
                <div>
                    Plate Number: @Model.Vehicle.LicenseNo <br />
             
                </div>
                <br />
                
                @using (Html.BeginForm())
                {
                    <p>
                        Find: @Html.TextBox("SearchString", (string)ViewBag.CurrentFilter)
                        <input type="submit" value="Search" />
                    </p>
                    
                    <p>
                        Date From:<input type="text" id="dateFrom" name="dateFrom" class="date-picker" value="@ViewBag.DateFrom" /> <br/>
                        Date To: <input type="text" id="dateTo" name="dateTo" class="date-picker" value="@ViewBag.DateTo" />
                        <input type="submit" value="Filter" />
                    </p>
                }
            </div>
            <div class="panel-body">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Module", "TransactionHistory", new { sortColumn = "TransactionMethod.Description", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Item", "TransactionHistory", new { sortColumn = "item.Description", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Date", "TransactionHistory", new { sortColumn = "date", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Remarks", "TransactionHistory", new { sortColumn = "remarks", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            @*<<th>
                                @Html.ActionLink("User", "TransactionHistory", new { sortColumn = "user.username", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TransactionLogs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactionLog.TransactionMethod.Description)
                                </td>
                                <td>
                                    
                                    @Html.DisplayFor(modelItem => item.TransactionLog.Item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactionLog.Date)
                                </td>
                                            
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleFrom)
                                </td>
                        
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                 </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Username)
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>

                Page @(Model.TransactionLogs.PageCount < Model.TransactionLogs.PageNumber ? 0 : Model.TransactionLogs.PageNumber) of @Model.TransactionLogs.PageCount
                <br />

                @Html.PagedListPager(Model.TransactionLogs, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                <div class="form-group">
                    <div class="col-md-10">
                        <a href="@Url.Action("Index")" class="btn btn-dark-beige">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>
</div>

<script>

    $(document).ready(function () {
        $('ul.main-navigation-menu > li:nth-child(7)').addClass('active');

        $('.toolbar ul.nav li:nth-child(1)').addClass('open');

    });

</script>