@model IPagedList<CNG.Models.User>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>User </h1>
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><span class="text-bold">User List</span></h4>
                <div class="pull-right">
                    <a href="@Url.Action("Create")" class="btn btn-dark-blue">Create</a>
                </div>

                <div class="clearfix"></div>

                @using (Html.BeginForm())
                {
                    <p>
                        Find: @Html.TextBox("SearchString", (string)ViewBag.CurrentFilter)
                        <input type="submit" value="Search" />
                    </p>
                }
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Username", "Index", new { sortColumn = "username", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Password", "Index", new { sortColumn = "password", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("First Name", "Index", new { sortColumn = "firstName", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Last Name", "Index", new { sortColumn = "lastName", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("User Type", "Index", new { sortColumn = "userTypeId", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("General Manager", "Index", new { sortColumn = "generalManagerId", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserType.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GeneralManager.FullName)
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" data-original-title="Edit" data-placement="top" class="btn btn-xs btn-blue tooltips"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" data-original-title="Delete" data-placement="top" class="btn btn-xs btn-red tooltips"><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <br />

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<script>

    $(document).ready(function () {
        $('ul.main-navigation-menu > li:nth-child(6)').addClass('active open');

        $('ul.main-navigation-menu > li:nth-child(6) ul.sub-menu> li:nth-child(5)').addClass('active');
    });

</script>

