@model CNGCashier.Models.Company

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading">
    <h4 class="panel-title">Delete Company</h4>
    <hr />
</div>

<div class="panel-body">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id);
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Name)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Address</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Address)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Contact Person</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ContactPerson)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Contact No.</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ContactNo)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Active</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Active)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Prefix</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Prefix)
                </label>
            </div>
        </div>
    </div>
  
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-dark-red" /> &nbsp;&nbsp;
        <a href='@Url.Action("Index")' class="btn btn-light-orange">Back to List</a>
    </div>
    }
</div>
