@model CNG.Models.RequisitionItemVM

@*data-quantity-on-hand="@Model.RequisitionItem."*@
<tr data-item-id="@Model.RequisitionItem.Item.Id" data-quantity-on-hand="@Model.RequisitionItem.Item.QuantityOnHand(Model.CompanyId)" class="item-row">
        
    <td>
        @Html.HiddenFor(model => model.RequisitionItem.ItemId)

        <label class="lblCode">@Model.RequisitionItem.Item.Code</label>
    </td>
    <td>
        @Html.TextBoxFor(model => model.RequisitionItem.Quantity, new { @class = "txtQuantity form-control" })
    </td>
    <td>
        @Model.RequisitionItem.Item.Description
    </td>
    <td>
        @Html.TextBoxFor(model => model.RequisitionItem.SerialNo, new { @class = "txtSerialNo form-control" })
    </td>
    <td>
        @Model.RequisitionItem.Item.Code
    </td>
    <td>
        @Html.TextBoxFor(model => model.RequisitionItem.QuantityReturn, new { @class = "txtQuantityReturn form-control" })
    </td>
    <td>
        @Model.RequisitionItem.Item.Description
    </td>
    <td>
        @Html.TextBoxFor(model => model.RequisitionItem.SerialNoReturn, new { @class = "txtSerialNoReturn form-control" })
    </td>
    <td>
        @Html.DropDownListFor(p => p.RequisitionItem.Type, Model.ItemTypes, new { @class="selType" });
    </td>

    <td>
        <a class="btn btn-xs btn-red tooltips btnRemoveItem" href="#!" data-original-title="Remove" data-placement="top">
            <i class="fa fa-times fa fa-white"></i>
        </a>
    </td>
</tr>

