@model IEnumerable<CNG.Models.PurchaseOrderItem>

@foreach (var poItem in Model)
{
    <tr class='item-row' data-poitem-id="@poItem.Id">
        <td>
            @poItem.Item.Code
        </td>
        <td class="lblQuantity">
            @poItem.Quantity
        </td>
        <td>
            @poItem.UnitCost.ToString("F")
        </td>
        <td>
            @poItem.Item.Description
        </td>
        <td>
            @poItem.Amount.ToString("F")
        </td>
        <td>
            @poItem.ReceivedQuantity
        </td>
        <td class='lblBalance'>
            @poItem.Balance
        </td>
        <td>
            <a data-po-item-id="@poItem.Id" data-original-title="Edit" data-placement="top" class="btn btn-xs btn-blue tooltips btnEdit"><i class="fa fa-edit"></i></a>
            @*<input type="button" class="btnEdit" value="Edit" data-po-item-id="@poItem.Id" />*@
        </td>
    </tr>    
}
