@model IEnumerable<CNG.Models.PurchaseOrderItem>

@foreach (var poItem in Model)
{
    <tr class='item-row' data-poitem-id="@poItem.Id">
        <td>
            @poItem.Item.Code
        </td>
        <td class="lblQuantity">
            @poItem.Quantity
        </td>
        <td>
            @poItem.UnitCost
        </td>
        <td>
            @poItem.Item.Description
        </td>
        <td>
            @poItem.Amount
        </td>
        <td>
            <input type='text' class='txtSerialNo form-control' value='@poItem.SerialNo' />
        </td>
        <td>
            <input type='text' class='txtReceivedQuantity form-control' value='@poItem.ReceivedQuantity' />
        </td>
        <td class='lblBalance'>
            @poItem.Balance
        </td>
        <td>
            <input type='text' class='txtDrNo form-control' value='@poItem.DrNo' />
        </td>
        <td>
            <input type='text' class='txtDate form-control date-picker' value='@poItem.Date.ToShortDateString()' />
        </td>
        <td>
            <input type='text' class='txtRemainingBalanceDate form-control date-picker' value='@poItem.RemainingBalanceDate' />
        </td>
    </tr>    
}
