@model CNG.Models.PurchaseOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/Receiving.js"></script>
<script src="~/Scripts/moment.js"></script>

<h2>Receiving</h2>

<div>
    @{ Html.RenderPartial("_ReceivingMenu"); }

    Search PO @Html.DropDownList("PurchaseOrders", (IEnumerable<SelectListItem>)ViewBag.PurchaseOrders, "")

    <div>
        <table id="tblItems">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>SN/PN#</th>
                    <th>Received Quantity</th>
                    <th>Balance</th>
                    <th>Inv/DR #</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var poItem in Model.PurchaseOrderItems)
                {
                    <tr class='item-row' data-poitem-id="@poItem.ItemId">
                        <td>
                            @poItem.Item.Code
                        </td>
                        <td class="lblQuantity">
                            @poItem.Quantity
                        </td>
                        <td>
                            @poItem.UnitCost
                        </td>
                        <td>
                            @poItem.Item.Description
                        </td>
                        <td>
                            @poItem.Amount
                        </td>
                        <td>
                            <input type='text' class='txtSerialNo' value='@poItem.SerialNo' />
                        </td>
                        <td>
                            <input type='text' class='txtReceivedQuantity' value='@poItem.ReceivedQuantity' />
                        </td>
                        <td class='lblBalance'>
                            @poItem.Balance
                        </td>
                        <td>
                            <input type='text' class='txtDrNo' value='@poItem.DrNo' />
                        </td>
                        <td>
                            <input type='text' class='txtDate' value='@poItem.Date.ToShortDateString()' />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <br/><br />
    <div>
        <input type="button" id="btnSave" value="Save"/>
        <input type="button" id="btnSubmit" value="Submit" />
    </div>

    <br/>
    @Html.ActionLink("Back to List", "Index")
</div>


