@model CNG.Models.PurchaseOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/app/Common.js"></script>
<script src="~/Scripts/app/Receiving.js"></script>
<script src="~/Scripts/app/ReceivingModal.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".po-item").select2({
            data: null
        });
    });
</script>

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Receiving </h1>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="toolbar-tools pull-right">
            <!-- start: TOP NAVIGATION MENU -->
            @{ Html.RenderPartial("_ReceivingMenu"); }
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">

            <div class="panel-body">

                <div class="form-horizontal">
                    <h4>Receiving Number <label id="lblReNumber">@ViewBag.ReNumber</label></h4>
                    <hr />

                    <div class="form-group">
                        <label class="control-label col-md-2">Search PO</label>
                        <div class="col-md-5">
                            @if (Model.Id == 0)
                            {
                                @Html.DropDownList("No", (IEnumerable<SelectListItem>)ViewBag.PurchaseOrders, "", new { @class = "form-control po-item", data_url = Url.Action("RenderEditorRow") })
                            }
                            else
                            {
                                <input type="text" id="No" name="No" value="@Model.No" readonly />
                            }
                        </div>
                        DR NO: <input type="text" id="txtDrNo" name="txtDrNo" value="" />
                        Date Received: <input type="text" id="txtDateReceived" name="txtDateReceived" value="@Model.ReceivedDate.ToString()" class="date-picker form-control" />
                    </div>

                    <div class="form-group">
                        @*<label class="col-md-1"></label>*@
                        <div class="col-md-12">
                            <table id="tblItems" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Unit Cost</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Received Quantity</th>
                                        <th>Balance</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{Html.RenderPartial("_EditorRow", Model.PurchaseOrderItems);}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="btnSubmit" value="Submit" class="btn btn-dark-blue" disabled="disabled" />
                            <a href="@Url.Action("Index")" class="btn btn-dark-beige">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: BASIC TABLE PANEL -->
        </div>
    </div>
</div>

<div id="divReceivingLog" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Receiving Logs</h4>
               
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('ul.main-navigation-menu li:nth-child(4)').addClass('active open');
    });
</script>




