@model IPagedList<CNG.Models.PurchaseOrder>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Receiving </h1>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="toolbar-tools pull-right">
            <!-- start: TOP NAVIGATION MENU -->
            @{ Html.RenderPartial("_ReceivingMenu"); }
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><span class="text-bold">Receiving List</span></h4>
                <div class="pull-right">
                    <a href="@Url.Action("Create")" class="btn btn-dark-blue">Create</a>
                </div>

                <div class="clearfix"></div>

            </div>
            <div class="panel-body">


                @using (Html.BeginForm())
                {
                    <div class="col-md-4 col-sm-12 no-padding pull-right" style="margin-bottom:16px; text-align:right;">
                        @Html.TextBox("SearchString", (string)ViewBag.CurrentFilter, new { @class = "form-control", @placeholder = "Find", @style = "display:inline; width:74%;" })
                        <input type="submit" value="Search" class="btn btn-dark-beige" />
                    </div>
                }

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("No", "Index", new { sortColumn = "no", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Date", "Index", new { sortColumn = "date", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Vendor", "Index", new { sortColumn = "vendorId", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Ship To", "Index", new { sortColumn = "shipTo", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Terms", "Index", new { sortColumn = "terms", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Prepared By", "Index", new { sortColumn = "preparedBy", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Approved By", "Index", new { sortColumn = "approvedBy", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipToCompany.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Terms)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PreparedByObj.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovedByObj.FullName)
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="@Url.Action("Details", new { poNo = item.No })" data-original-title="Details" data-placement="top" class="btn btn-xs btn-green tooltips"><i class="fa fa-list"></i></a>

                                        @if (item.Status != (int)CNG.Models.EPurchaseOrderStatus.Submitted)
                                        {
                                            <a href="@Url.Action("Edit", new { poNo = item.No })" data-original-title="Edit" data-placement="top" class="btn btn-xs btn-blue tooltips"><i class="fa fa-edit"></i></a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-12 no-padding pull-left" style="margin:20px 0px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>

                <div class="col-md-8 col-sm-12 no-padding pull-left" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>


    
</div>
<script>

    $(document).ready(function () {

    $('ul.main-navigation-menu li:nth-child(4)').addClass('active open');

    $('.toolbar .navbar-right > li:nth-child(1) > a').addClass('active');
});

</script>
