@model IEnumerable<CNG.Models.PurchaseOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Receiving </h1>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="toolbar-tools pull-right">
            <!-- start: TOP NAVIGATION MENU -->
            @{ Html.RenderPartial("_ReceivingMenu"); }
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><span class="text-bold">Receiving List</span></h4>
                <div class="pull-right">
                    <a href="@Url.Action("Create")" class="btn btn-dark-blue">Create</a>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.No)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VendorId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipTo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Terms)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PreparedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApprovedBy)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipToCompany.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Terms)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PreparedByObj.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovedByObj.FullName)
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="@Url.Action("Details", new { poNo = item.No })" data-original-title="Details" data-placement="top" class="btn btn-xs btn-green tooltips"><i class="fa fa-list"></i></a>

                                        @if (item.Status != (int)CNG.Models.EPurchaseOrderStatus.Submitted)
                                        {
                                            <a href="@Url.Action("Edit", new { poNo = item.No })" data-original-title="Edit" data-placement="top" class="btn btn-xs btn-blue tooltips"><i class="fa fa-edit"></i></a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>
</div>
<script>

    $(document).ready(function () {

    $('ul.main-navigation-menu li:nth-child(3)').addClass('active open');

    $('.toolbar .navbar-right > li:nth-child(1) > a').addClass('active');
});

</script>
