@model CNG.Models.VehicleStockTransfer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/VehicleStockTransfer.js"></script>

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Vehicle Stock Transfer</h1>
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">

            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Vehicle Stock Transfer</h4>
                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(model => model.No, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Search Item</label>
                            <div class="col-md-5">
                                @Html.DropDownList("Items", (IEnumerable<SelectListItem>)ViewBag.Items, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Plate Number From</label>
                            <div class="col-md-5">
                                @Html.DropDownList("PlateNoFrom", (IEnumerable<SelectListItem>)ViewBag.PlateNos, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">To</label>
                            <div class="col-md-5">
                                @Html.DropDownList("PlateNoTo", (IEnumerable<SelectListItem>)ViewBag.PlateNos, "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Remarks</label>
                            <div class="col-md-5">
                                <input type="text" id="Remarks" class="form-control" />
                            </div>
                        </div>                        

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="btnAddItem" value="Ok" data-url="@Url.Action("RenderEditorRow", "VehicleStockTransfer")" class="btn btn-dark-blue" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1"></label>
                            <div class="col-md-10">
                                <table id="tblItems" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Plate No (from)</th>
                                            <th>Plate No (to)</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var vstItem in Model.VehicleStockTransferItems)
                        {
                            Html.RenderPartial("_EditorRow", vstItem);
                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Requested By</label>
                            <div class="col-md-5">
                                <input type="text" id="RequestedBy" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Checked By</label>
                            <div class="col-md-5">
                                <label id="lblCheckedBy" class="form-control">@ViewBag.User</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Approved By</label>
                            <div class="col-md-5">
                                <label id="lblApprovedBy" class="form-control">@ViewBag.GeneralManager</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="btnSubmit" type="submit" value="Submit" class="btn btn-dark-blue" />
                                <a href="@Url.Action("Index")" class="btn btn-dark-beige">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-- end: BASIC TABLE PANEL -->
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        //$('.toolbar .navbar-right > li:nth-child(3) > a').addClass('active');
        $('ul.main-navigation-menu > li:nth-child(6)').addClass('active open');
        $('ul.main-navigation-menu > li:nth-child(6) ul > li:nth-child(2)').addClass('active');
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

