@model CNG.Models.StockTransferItemVM

@*data-quantity-on-hand="@Model.RequisitionItem."*@
<tr data-item-id="@Model.StockTransferItem.Item.Id" data-quantity-on-hand="@Model.StockTransferItem.Item.QuantityOnHand(Model.CompanyId)" class="item-row">

    <td>
        @Html.HiddenFor(model => model.StockTransferItem.ItemId)

        <label class="lblCode">@Model.StockTransferItem.Item.Code</label>
    </td>
    <td>
        @Html.TextBoxFor(model => model.StockTransferItem.Quantity, new { @class = "txtQuantity form-control" })
    </td>
    <td>
        @Model.StockTransferItem.Item.Description
    </td>
    <td>
        @Html.TextBoxFor(model => model.StockTransferItem.SerialNo, new { @class = "txtSerialNo form-control" })
    </td>
    <td>
        @Model.StockTransferItem.Item.Code
    </td>
    <td>
        @Html.TextBoxFor(model => model.StockTransferItem.QuantityReturn, new { @class = "txtQuantityReturn form-control" })
    </td>
    <td>
        @Model.StockTransferItem.Item.Description
    </td>
    <td>
        @Html.TextBoxFor(model => model.StockTransferItem.SerialNoReturn, new { @class = "txtSerialNoReturn form-control" })
    </td>
    <td>
        @Html.DropDownListFor(p => p.StockTransferItem.Type, Model.ItemTypes, new { @class = "selType" });
    </td>

    <td>
        <a class="btn btn-xs btn-red tooltips btnRemoveItem" href="#!" data-original-title="Remove" data-placement="top">
            <i class="fa fa-times fa fa-white"></i>
        </a>
    </td>
</tr>