@model IPagedList<CNG.Models.TransactionLog>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "TransactionHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: TOOLBAR -->
<div class="toolbar row">
    <div class="col-sm-6 hidden-xs">
        <div class="page-header">
            <h1>Transaction History </h1>
        </div>
    </div>
</div>
<!-- end: TOOLBAR -->
<!-- end: PAGE HEADER -->
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb"></div>
    </div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: BASIC TABLE PANEL -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><span class="text-bold">Transaction History</span></h4>

                <div class="clearfix"></div>

                @using (Html.BeginForm())
                {
                    <p>
                        Find: @Html.TextBox("SearchString", (string)ViewBag.CurrentFilter)
                        <input type="submit" value="Search" />
                    </p>
                }
            </div>
            <div class="panel-body">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Module", "TransactionHistory", new { sortColumn = "transactionMethod.description", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Quantity", "TransactionHistory", new { sortColumn = "quantity", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("Date", "TransactionHistory", new { sortColumn = "date", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th>
                                @Html.ActionLink("User", "TransactionHistory", new { sortColumn = "user.username", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactionMethod.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Username)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end: BASIC TABLE PANEL -->
    </div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <br />

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<script>

    $(document).ready(function () {
        $('ul.main-navigation-menu > li:nth-child(5)').addClass('active');

    });

</script>